# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# my ignore
*.egg-info/
